.navigation {
    display: flex;
    align-items: center;
}

.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__item {
    & + & {
        margin-left: 50px;
    }
}

.navigation__link:hover,
.navigation__link:focus {
    color: $accent-color;
}

.navigation__link--current {
    position: relative;
    color: $accent-color;

    &::after {
        position: absolute;
        bottom: 0;
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: $accent-color;
    }
}
